.navbar-custom {
    background-color: #6A5ACD;
}
.navbar-custom .navbar-brand
{
color:white
}
.shift-right{
   right:5px;
   top:25px;
   position: absolute;
   display: flex;
}
.btn-custom
{
    background-color:#6A5ACD ;
    color: white;
}
.btn-real
{
    background-color:white ; 
    color:black;
}